{
  "check-coverage": true,
  "lines": 80,
  "functions": 80,
  "branches": 80,
  "statements": 80,
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "src/test/**/*"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "extension": [
    ".ts"
  ],
  "cache": true,
  "all": true,
  "sourceMap": true,
  "instrument": true
}